In [69]:
import pandas as pd
import numpy as np
import gc
import sys
from pymatgen import Lattice, Structure
import numpy
import xrayutilities as xru
from xrayutilities.materials.cif import CIFFile
from xrayutilities.materials.material import Crystal
from IPython.display import Image, display


df = pd.read_csv("data.csv")
task_id = df["Material_id"]
two_theta = numpy.arange(0, 80,.2)
theta = numpy.arange(0,400)
len_ =3
try :
    df_x = pd.read_csv("final_data_x.csv")
except:
    df_x = pd.DataFrame()



del df_x["Unnamed: 0"]

In [70]:
   
L = []
M = []
c = 0
for x  in range(len_*20,len_*20+2):
    try:
        xu_cif = CIFFile("cif/"+task_id[x]+".cif")
        xu_crystal = Crystal(name="XRD" ,lat=xu_cif.SGLattice())
        powder = xru.simpack.smaterials.Powder(xu_crystal, 1)
        pm = xru.simpack.PowderModel(powder,I0=100)
        intensities = pm.simulate(two_theta)
        M.append(intensities)
        print(np.shape(M))
        pm.close()
    except ValueError:
        print("some_error")

(1, 400)
(2, 400)

In [71]:
df_x_ = pd.DataFrame(M,columns=df_x.columns)

In [72]:
df_x.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001993,0.002054,0.002266,0.002749,0.003945,0.010046,0.312370,1.065850,0.375684,0.022559
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006245,0.004238,0.003077,0.002370,0.001915,0.001615,0.001415,0.001287,0.001214,0.001185

In [73]:
df_x_.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000727,0.000913,0.001181,0.001589,0.002257,0.003490,0.006226,0.016301,0.342067,3.508582
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000650,0.000539,0.000494,0.000486,0.000506,0.000585,0.000670,0.000801,0.001005,0.001333

In [74]:
df_x_s=df_x.append(df_x_)

In [75]:
df_x_s.to_csv("final_data_x.csv")

In [76]:
df_x_s

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001993,0.002054,0.002266,0.002749,0.003945,0.010046,0.312370,1.065850,0.375684,0.022559
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006245,0.004238,0.003077,0.002370,0.001915,0.001615,0.001415,0.001287,0.001214,0.001185
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000727,0.000913,0.001181,0.001589,0.002257,0.003490,0.006226,0.016301,0.342067,3.508582
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000650,0.000539,0.000494,0.000486,0.000506,0.000585,0.000670,0.000801,0.001005,0.001333